@import url(https:"//cdn.web-fonts.ge/fonts/alk-life/css/alk-life.min.css");





.title-kartui-absoluturi {
   font-family: "ALK Life", sans-serif; 
}
.title-kartuli-relaturi {
   
 font-family: 'ALK Rex Bold'
}
.desc-latinuri-absoluturi {
   font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
}
.latinuri-relatiuri {
 font-family: 'Roboto Condensed';  
}
